---
import BaseLayout from '@/layouts/BaseLayout';
import TitlePage from '@/components/TitlePage';
---

<BaseLayout title='About'>
	<TitlePage title='About' />
	<div class='flex justify-center flex-wrap gap-4'>
		<h1>This is about page</h1>
	</div>
</BaseLayout>
