---
import BaseLayout from "@/layouts/BaseLayout.astro";
import TitlePage from "@/components/TitlePage.astro";

---

<BaseLayout title='About'>
	<TitlePage title='About' />
	<div class='flex justify-center flex-wrap gap-4'>
		<h1>This is about page</h1>
	</div>
</BaseLayout>
