---
import Layout from '../../layouts/Layout.astro';
import {getCollection} from 'astro:content';

export const getTags = async () => {
	const posts = await getCollection('blog');
	const tags = new Set();
	posts.forEach((post) => {
		post.data.tags.forEach((tag) => {
			tags.add(tag.toLowerCase());
		});
	});

	return Array.from(tags);
};
const tags = await getTags();
---

<Layout title='Tags'>
	<div class='grid grid-cols-[repeat(auto-fit,_minmax(0,_35ch))] gap-4 mt-8'>
		{
			tags.map((tag) => (
				<a
					href={`/tags/${tag}`}
					class='inline-block bg-[#9a47f3] text-white rounded-full px-4 py-2 font-medium transition-colors duration-200'
				>
					#{tag}
				</a>
			))
		}
	</div>
</Layout>
