---
import {getCollection} from 'astro:content';
import Layout from '../layouts/Layout.astro';
import BlogItem from '../components/BlogItem.astro';

const pageTitle = 'Blog';
const allPosts = await getCollection('blog');
---

<Layout title={pageTitle}>
	<h1 class='text-[length:var(--step-4)] title relative inline-flex flex-col-reverse sm:flex-row mb-3'>
		<div class='relative inline-block font-bold tracking-tight'>
			<span class='title-gradient'>Blog</span>
			<span class='title-cover absolute inset-0 transition-opacity duration-500 print:hidden' aria-hidden='true'>Blog</span>
		</div>
	</h1>
	<ul class='grid grid-cols-[repeat(auto-fit,_minmax(0,_35ch))] gap-4 mt-8'>
		{
			allPosts.map((post) => (
				<li>
					<BlogItem
						url={`/blog/${post.slug}/`}
						title={post.data.title}
						{...post}
					/>
				</li>
			))
		}
	</ul>
</Layout>

<script>
	import '../assets/js/cards.js';
</script>
