---
import Layout from "layouts/Layout.astro";

const title = 'Miro Ostafinski — Full Stack Web Developer';
---

<Layout {title} overrideTitle>
	<article class="my-auto pb-8">
		<h1 class="title relative inline-flex flex-col-reverse sm:flex-row mb-3">
			<div class="relative inline-block text-4xl sm:text-7xl md:text-8xl lg:text-9xl font-bold tracking-tight">
				<span class="title-gradient">Miro Ostafinski</span>
				<span class="title-cover absolute inset-0 transition-opacity duration-500 print:hidden" aria-hidden="true">
					Miro Ostafinski
				</span>
			</div>
		</h1>
		<p class="block text-md w-[80%] md:w-[85%] sm:text-xl font-medium sm:leading-relaxed text-[#252525]">
			<span class="block">
				💼 Web Developer at
				<a class="border-b border-[#252525] dark:border-[#ffffff]" href="https://studio24.net">Studio24</a>
			</span>{' '}
			<span class="">
				💻 I work with React and TypeScript, Node.js, Laravel and more.
			</span>{' '}
			<span class="block my-6 transition-color ">
				<a href="/about#projects" class="border-b border-[#252525] dark:border-[#ffffff]">
					See my work
				</a>{' '}
				or{' '}
				<a href="/blog" class="border-b border-[#252525] dark:border-[#ffffff]">
					read my blog
				</a>{' '}
			</span>
		</p>
	</article>
</Layout>