---
export type Props = {
	href: string;
};

const {href} = Astro.props;
const {pathname} = Astro.url;
const isActive = href !== '/' && pathname.startsWith(href);
---

<a href={href} class={`dark:text-white dark:hover:text-[#ff1a81] inline-block ${isActive ? 'font-bold' : ''}`}>
	<slot />
</a>
