---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-16">
  <h3
    class="my-16 text-center text-4xl lg:text-5xl font-bold lg:tracking-tight">
    My tech stack
  </h3>
  <div
    class="flex gap-8 md:gap-20 items-baseline justify-center mt-10 flex-wrap">
    <a class="block text-center" href="">
      <Icon class="h-8 md:h-12 my-0 mx-auto" name="simple-icons:typescript" />
      <span class="mt-4 block font-mono">Typescript</span>
    </a>
    <a class="block text-center" href="">
      <Icon class="h-8 md:h-12 my-0 mx-auto" name="simple-icons:javascript" />
      <span class="mt-4 block font-mono">Javascript</span>
    </a>

    <a class="block text-center" href="https://react.dev/">
      <Icon class="h-8 md:h-12 my-0 mx-auto" name="simple-icons:react" />
      <span class="mt-4 block font-mono">React</span>
    </a>

    <a class="block text-center" href="">
      <Icon class="h-8 md:h-12 my-0 mx-auto" name="simple-icons:tailwindcss" />
      <span class="mt-4 block font-mono">Tailwind</span>
    </a>

    <a class="block text-center" href="">
      <Icon class="h-8 md:h-12 my-0 mx-auto" name="simple-icons:nodejs" />
      <span class="mt-4 block font-mono">Node.js</span>
    </a>
    <a class="block text-center" href="">
      <Icon class="h-8 md:h-12 my-0 mx-auto" name="simple-icons:express" />
      <span class="mt-4 block font-mono">Express.js</span>
    </a>
    <a class="block text-center" href="">
      <Icon class="h-8 md:h-12 my-0 mx-auto" name="simple-icons:prisma" />
      <span class="mt-4 block font-mono">Prisma.js</span>
    </a>

    <a class="block text-center" href="">
      <Icon class="h-8 md:h-12 my-0 mx-auto" name="simple-icons:astro" />
      <span class="mt-4 block font-mono">Astro.js</span>
    </a>

    <a class="block text-center" href="">
      <Icon class="h-8 md:h-12 my-0 mx-auto" name="simple-icons:postgresql" />
      <span class="mt-4 block font-mono">PostgreSql</span>
    </a>

    <a class="block text-center" href="">
      <Icon class="h-8 md:h-12 my-0 mx-auto" name="simple-icons:mongodb" />
      <span class="mt-4 block font-mono">MongoDB</span>
    </a>

    <a class="block text-center" href="">
      <Icon class="h-8 md:h-12 my-0 mx-auto" name="simple-icons:wordpress" />
      <span class="mt-4 block font-mono">Wordpress</span>
    </a>

    <a class="block text-center" href="">
      <Icon class="h-8 md:h-12 my-0 mx-auto" name="simple-icons:php" />
      <span class="mt-4 block font-mono">Php</span>
    </a>
  </div>
</div>
