---
import {cn} from '../utils/cn.ts';
const {heading} = Astro.props;

type Heading = {
	depth: number;
	text: string;
	slug: string;
	subheadings: Heading[];
};

export interface Props {
	heading: Heading;
}

const words = heading.text.split(' ');
const text = words.length > 5 ? words.slice(0, 5).join(' ') + '...' : heading.text;
---

<li class='flex flex-col'>
	<a
		href={'#' + heading.slug}
		class={cn(
			`hover:font-bold dark:text-white dark:hover:text-[#ff1a81] py-1 px-4 rounded-3xl mb-2 first-letter:uppercase w-fit line-clamp-2`
		)}
	>
		– {text}
	</a>
	{
		heading.subheadings.length > 0 && (
			<ul class='ml-3'>
				{heading.subheadings.map((subheading) => (
					<Astro.self heading={subheading} />
				))}
			</ul>
		)
	}
</li>
