@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: light dark;
}

::selection {
	background-color: #4F46E5;
	color: white;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	--off-black: #252525;
	@apply h-full;
	color: var(--off-black);
}

body {
	@apply overflow-y-scroll;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
	@apply text-slate-900 dark:text-slate-100;
	--off-black: #252525;
	color: var(--off-black);
}

img {
	content-visibility: auto;
}

.preload-transitions * {
	transition: none !important;
}

.nav-link::after {
	@apply pointer-events-none invisible h-0 select-none overflow-hidden font-bold;
	content: attr(data-text);
	content: attr(data-text) / '';
}

@media speech {
	.nav-link::after {
		display: none;
	}
}

.title-gradient {
	background-image: linear-gradient(
		to right,
		#2dd2dd 0%,
		#9a47f3 25%,
		#fcb26d 50%,
		#ff61e6 75%,
		#2dd2dd 100%
	);
	background-size: 400% 0;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	background-size: 200% auto;
	animation: slide 10s linear infinite;
}

.avatar {
	transition: transform 0.3s;
	transform: rotateY(0);
	backface-visibility: hidden;
}

.photo {
	transition: transform 0.3s;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

.title:hover .avatar {
	transform: rotateY(180deg);
}

.title:hover .photo {
	transform: rotateY(360deg);
}

.title:hover .title-cover {
	@apply opacity-0;
}

.track-link:hover > *:first-child {
	@apply scale-110 transform opacity-100;
}

.link-emoji::after {
	@apply absolute left-0 top-0 h-full w-full text-center opacity-0;
	content: attr(data-emoji);

	color: initial;
	transition-duration: 0.2s;
	transition-delay: 0.1s;
	transform: scale(0.5);
}

.link-emoji:hover::after {
	@apply opacity-100;
	transform: scale(1.5);
}

.block-link::after {
	@apply absolute inset-0 block;
	content: '';
}




@keyframes slide {
	to {
		background-position: 200% center;
	}
}
.prose :where(strong):not(:where([class~="not-prose"],[class~="not-prose"] *))
.dark\:prose-dark :where(strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
	background-color: transparent !important;
}

.dark\:prose-dark :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
	background-color: transparent !important;
}

.prose :where(strong):not(:where([class~="not-prose"],[class~="not-prose"] *)),
.dark\:prose-dark:is(.dark *) :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)),
.dark\:prose-dark:is(.dark *) :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
	color: #FFCC14 !important;
	font-style: italic;
}

.light strong,
.light code {
	color: #4F46E5 !important;
}