---
import BaseHead from '@/components/BaseHead.astro';
import ProviderTheme from '@/components/ProviderTheme.astro';
import ProviderAnimations from '@/components/ProviderAnimations.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import TwSizeIndicator from '@/components/TwSizeIndicator.astro';
import EditBlog from '@/components/editBlog.astro';

const {title, description, image, articleDate} = Astro.props;
---

<html lang='en' class='scroll-smooth'>
	<head>
		<BaseHead
			title={title}
			description={description}
			ogImage={image}
			articleDate={articleDate}
		/>
		<ProviderTheme />
		<ProviderAnimations />
	</head>

	<body class='bg-white text-stone-950 dark:bg-[#0a0910] dark:text-white'>
		<main
			class='px-5 sm:mx-auto sm:max-w-2xl sm:px-8 lg:px-0 antialiased md:max-w-6xl grid gap-12 mt-4 overflow-hidden md:overflow-visible'
		>
			<Header />
			<slot />
			<Footer />
		</main>
		<TwSizeIndicator />
		<EditBlog />
		<style>
			body {
				margin-left: calc(100vw - 100%); /* prevent layout shift */
			}
		</style>
	</body>
</html>
